/******************************************************************/
/* This is the css sheet for the Women's Rights Buildathon        */
/*                                                                */
/******************************************************************/

/******************************************************************/
/* Main, overall styles                                           */
/******************************************************************/
body {
    font-family: 'Lora', serif !important;
    background: linear-gradient(to bottom, #fcecfc 68%, #ffbde4 100%)!important;
}


.h4, .h5, .h6, h4, h5, h6  {
    font-family: 'Lora', serif !important;
/*    color: #000000; */
	  line-height: 1.6rem;
    font-weight: normal;
}

.h2, .h3, h2, h3 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.main-container {
  margin-left: 200px !important;
  /*margin-top: 8.25rem; */ /* only to be used when using a header*/
  font-family: 'Lora', serif !important;
}


.well {
  background-color: #ffa3d0;
  border-radius: 20px;
}

.selectize-input {
  color: #e60082;
  font-family: 'Lora', serif !important;
}


.selectize-dropdown, .selectize-input, .selectize-input input {
    background: white;
}

.selectize-control.single .selectize-input.input-active {
    background: #e60082;
    color: white;
}

.selectize-dropdown-content .option:hover {
    background: #e60082;
    color: white;
}

.selectize-input.full {
  background-color: white;
}


.bg-info {
    background-color: #fcecfc;
    color: #e60082;
}

.bg-success {
    background-color: #fba6e1;
}

div {
  border-radius: 20px;
}

.js-plotly-plot .plotly .main-svg {
    border-radius: 20px;
}

.form-control {
    color: #e60082;
}

.air-datepicker-cell:hover {
    background-color: #e60082;
    color: white;
}

.air-datepicker-cell.-selected- {
    background: #e60082;
}

.air-datepicker-cell.-selected-.-focus- {
    background: #e60082;
}

.form-control:focus {
    background-color: #e60082;
    color: white;
}


.skin-red .left-side,.skin-red .main-sidebar,.skin-red .wrapper .main-header .navbar {
    background-color: #ffbde4;
}

.skin-red .main-header .logo {
    background-color: #e60082;
}

.skin-red .sidebar-form input[type=text] {
    background-color: white;
}

.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: #e60082!important;
}

.skin-red .main-header .navbar .sidebar-toggle:hover {
    background-color: #e60082;
}

.skin-red .main-header .logo:hover {
    background-color: #e60082;
}

.info-box-icon {
  color: white;
  height: 80px;
}

.info-box-text, .progress-description {
    color: white;
    font-weight: bold;
    font-family: math;
    font-size: small;
}

.contactinfo{
  color: black;
  font-weight: italic;
}

.info-box-number {
    font-weight: 600;
    font-size: 12px;
}

b, strong {
    font-weight: 800;
    color: pink;
    font-size: small;
    font-family: 'cursive';
}

.btn-default {
    background-color: white !important;
    color: #e60082;
    border-color: #e60082;
    font-weight: bold;
    border-width: medium;
}

.info-box {
    min-height: 70px;
    margin-bottom: 10px;
}

.spacing {
  padding-left:100px;
  font-size: 18px;
}

.btn-default:hover {
    background-color: #e60082 !important;
    color: white;
    border-color: #e60082;
    font-weight: bold;
    border-width: medium;
}


.btn-default:active {
    background-color: #e60082 !important;
    color: white;
    border-color: #e60082;
    font-weight: bold;
    border-width: medium;
}

.btn-default:focus {
    background-color: #e60082 !important;
    color: white;
    border-color: #e60082;
    font-weight: bold;
    border-width: medium;
}

.nav-tabs-custom>.nav-tabs>li.active>a {
    background-color: #ffbde4;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #ffbde4;
}

.nav-tabs-custom>.nav-tabs>li:hover {
    background-color: white;
    color: #e60082;
}
.nav-tabs-custom>.nav-tabs>li>a:hover {
    background-color: #ffbde4;
}

label {
    color: #e60082;
}

a {
    color: #e60082;
}

.bg-maroon {
    background-color: white!important;
}

br {
  line-height: 150%;
}

.sweet-alert button {
    background-color: #e60082 !important;
}

.sweet-alert .sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #e60082;
}

.sweet-alert h2 {
    color: #e60082;
}

.sweet-alert p {
    color: #e60082;
}

.subheading {
    font-weight: 1000;
    color: white;
    font-size: medium;
    font-style: italic;
    font-family: ui-monospace;
}

.footer{
    padding-top: 300px;
    padding-left: 20px;
    color: black;
}

.bslib-value-box .value-box-showcase .bi {
    font-size: 3rem;
}


html-fill-container > .html-fill-item {
    overflow: hidden;
}